<footer> 
    <div class="footer-container">    
        <div class="social-icons">
            <a href="https://www.facebook.com/" target="_blank"><i class='fab fa-facebook'></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class='fab fa-instagram'></i></a>
            <a href="https://twitter.com/" target="_blank"><i class='fab fa-twitter'></i></a>
            <a href="https://www.google.com/intl/vi/gmail/about/"><i class='fab fa-google-plus'></i></a>
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/about-us">Privacy & Policy</a></li>
                <li><a href="/shopping">Shopping</a></li>
                <li><a href="/contact-us">Help</a></li>
            </ul>
        </div>  
    </div>  
        <div class="footer-copyright">
            <p1>Copyright ©2023; Design by Group 6 from RMIT HANOI</p1>
        </div>  
</footer>
