 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--This import icons for later usage-->
    <script src="https://kit.fontawesome.com/d3a524326f.js" crossorigin="anonymous"></script>
    <!--Imported font family from google-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    </style>
    <!--Import Favicon-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Bespoke.IT</title>
</head>