<section class="hero" id="hero">
    <div class="hero-content">
        <h3>Craft Your <br> Own Adventure</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, unde aliquam nulla nisi quo enim, 
        tempore minima laboriosam dolor quos deserunt</p>
        <a href="#" class="btn">Craft Now!</a>
    </div>
</section>