 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<nav>
    <a href="/" class="logo"><img alt="bespoke.it logo" src="../images/bespoke.it logo.png"></a>
    

    <div class="main">
        <div class="user-customer"><i class="fa-solid fa-user" id="user-btn"></i></div>
    </div>
</nav>  

<div class="side-bar">
    <div id="close-side-bar" class="fa-solid fa-x">

    </div>

    <div class="user-side-bar">
        <img src="../images/side-bar-user1.jpg" alt="">
        <h3>Phan Nguyen Viet Nhan</h3>
        <a href ="/myaccount">My Account</a>
        <a href="#">Log Out</a>
    </div>      

    <div class="side-bar-nav">
        <a href="/"><i class="fa-solid fa-angle-right"></i>Home</a>
        <a href="/shopping"><i class="fa-solid fa-angle-right"></i>Shopping</a>
        <a href="/about-us"><i class="fa-solid fa-angle-right"></i>About Us</a>
        <a href="/contact-us"><i class="fa-solid fa-angle-right"></i>Help</a>
    </div>
</div>