 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<div class="container-sm">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/7.jpg" alt="">
                    <div>
                        <p>Kingston Fury Beast Black 32GB </p>
                        <small>Price: 90,36 €</small>
                        <br>
                        <a href="#">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1" min="1"></td>
            <td>90,36 €</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/17.jpg" alt="">
                    <div>
                        <p>Seagate IronWolf </p>
                        <small>Price: 234,45 €</small>
                        <br>
                        <a href="#">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1" min="1"></td>
            <td>234,45 €</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/15.jpg" alt="">
                    <div>
                        <p>Fractal Design Define 7 </p>
                        <small>Price: 83,19 €</small>
                        <br>
                        <a href="#">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1" min="1"></td>
            <td>83,19 €</td>
        </tr>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>408,00 €</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>35,00 €</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>443,00 €</td>
            </tr>
            <tr>
               <td colspan="2"><button class="btn btn-primary" type="submit">Check Out</button></td>
            </tr>
        </table>
    </div>
</div>