 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Login head section here -->
    <%- include('./partials/login-head.ejs') %>
</head>
    
<body>
    <!-- Login section here -->
    <%- include('./partials/login/customer-registration-wrapper.ejs') %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/file_upload.js"></script>
    <script src="/js/constraints.js"></script>

</body>
</html>