<!DOCTYPE html>
<html lang="en">
    <!-- Head section here -->
    <%- include('./partials/head.ejs') %>
    <!--Import Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Head section here -->
<body>
    <!-- Navigation bar section here -->
    <%- include('./partials/customer/customer-nav.ejs') %>
    <!-- Main section here -->
    <main>
        <!--Customer Body-->
        <%- include('./partials/products/products-body', { product: product }) %>
    </main>
        <!-- Footer section here -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer section here -->

        <!--Js link-->
<script type="text/javascript" src="/js/customer-script.js"></script>
</body>
</html>
