<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Login head section here -->
    <%- include('./partials/register-head.ejs') %>
</head>
    
<body>
    <!-- Login section here -->
    <%- include('./partials/login/user-wrapper.ejs') %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>