<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/public/vendor.css">
        <!--This import icons for later usage-->
        <script src="https://kit.fontawesome.com/d3a524326f.js" crossorigin="anonymous"></script>
        <!--Imported font family from google-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
        </style>
        <title>Bespoke.IT</title>
    </head>

<body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav>
            <a href="#" class="logo"><img alt="bespoke.it logo" src="/images/bespoke.it logo.png"></a>
            
            <ul class="navbar">
                <li><a href="#" class="Active">Home</a></li>    
                <li><a href="#">About</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Shopping</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <div class="main">
                <a href="#" class="user"><i class="fa-solid fa-user"></i>Sign in</a>
                <a href="#"> Register</a>
                <div class="fa-solid fa-bars" id="menu-icon"></div>

            </div>
        </nav>
    </header>

    <div id="current-prd">
        <h1>Current Products</h1>
        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
            <% products.forEach(function(product) { %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %> €</td>
                    <td><%= product.stock %></td>
                    <td>
                        <i class="fas fa-edit action-icons"></i> <!-- Edit icon -->
                        <i class="fas fa-trash-alt action-icons"></i> <!-- Delete icon -->
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>
    
    <div id="add-prd">
        <h1>Add Product</h1>
        <form method="post" action="/add-product"> 
            <label for="fname">Product name:</label>
            <input type="text" id="fname" name="name" required>
            <label for="stock">In Stock:</label>
            <input type="text" id="stock" name="stock">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
            <label for="product-image">Product Image:</label>
            <input type="file" id="product-image" name="productImage">
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <footer> 
        <div class="footer-container">    
            <div class="social-icons">
                <a href="#" target="_blank"><i class='fab fa-facebook'></i></a>
                <a href="#" target="_blank"><i class='fab fa-instagram'></i></a>
                <a href="#" target="_blank"><i class='fab fa-twitter'></i></a>
                <a href="#"><i class='fab fa-google-plus'></i></a>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Shopping</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>      
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>