body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Style contact container */
.container {
    display: flex;
    max-width: 1000px;
    margin: 2rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
}
/* Style inputs & labels */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    height: 40px;
}

textarea {
    height: 150px;
}

label.radio {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}

.radio-group {
    margin-bottom: 20px;
}

.submit-btn {
    display: block;
    width: 50%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    margin:auto;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Add this CSS to contact.css file */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
}

/* Map styles here */

.map-container {
    flex: 1;
    padding-bottom: 75%; /* 4:3 aspect ratio (adjust as needed) */
    position: relative;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .form-container {
        padding: 20px 10px;
    }
    .map-container {
        flex: 0;
        padding-bottom: 50%; /* Adjust as needed for responsiveness */
    }
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .form-container {
        padding: 20px 10px;
    }
    .map-container {
        flex: 0;
        height: 300px; /* Adjust as needed */
    }
}