<nav aria-label="breadcrumb" class="breadcrumb-container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="customer.html">Shopping</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cases</li>
    </ol>
    </nav>