<section class="about" id="about">
    <h1 class="heading">About us</h1>
    <div class="row">

        <div class="image">
            <img src="/images/about-us-image.jpg" alt="female-gamer-playing-games">
        </div>

        <div class="about-us-content">
            <h2>What make our computer components special?</h2>
            <p>Bespoke.IT's computer components stand out through a combination of top-tier quality, customization options, expert guidance, competitive pricing, robust warranties, and a commitment to sustainability. With an ever-updated inventory of high-performance components and a user-friendly online platform, Bespoke.IT offers not just products but a tailored experience, building trust, and community engagement, making computer enthusiasts' choices special and rewarding.</p>
        </div>  
    </div>
</section>