 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<nav>
    <a href="/" class="logo"><img alt="bespoke.it logo" src="/images/bespoke.it logo.png"></a>
    
    <ul class="navbar">
        <li><a href="/" class="Active">Home</a></li>    
        <li><a href="/about-us">About</a></li>
        <li><a href="/shopping">Shopping</a></li>
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="/contact-us">Help</a></li>
    </ul>

    <div class="main">
        <a href="/login" class="user"><i class="fa-solid fa-user"></i>Sign in</a>
        <a href="/login/register">Register</a>
        <div class="fa-solid fa-bars" id="menu-icon"></div>
    </div>
</nav>
