<nav>
    <a href="/" class="logo"><img alt="bespoke.it logo" src="/images/bespoke.it logo.png"></a>
    
    <ul class="navbar">
        <li><a href="/" class="Active">Home</a></li>    
        <li><a href="/about-us">About</a></li>
        <li><a href="/shopping">Shopping</a></li>
        <li><a href="/contact-us">Contact</a></li>
    </ul>

    <div class="main">
        <a href="/login" class="user"><i class="fa-solid fa-user"></i>Sign in</a>
        <a href="/login/register">Register</a>
        <div class="fa-solid fa-bars" id="menu-icon"></div>
    </div>
</nav>
