<section class="hero" id="hero">
    <div class="hero-content">
        <h3>Enhance your<br>computing experience !</h3>
        <a href="/login" class="btn">Start Now!</a>
    </div>
</section>   