<section class="reviews-section">
    <h1 class="heading">Customer's reviews </h1>
    <div class="reviews-container">
        <div class="reviews-box">
            <p> Competitive prices, good selection. Some room for improvement in customer service and website</p>
            <img src="images/user-4.jpg" alt="users review: A girl reviewing headphone">
            <h3>Lucifer Curry</h3>
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </div>
        </div>  
        <div class="reviews-box">
            <p> Outstanding shop! Their expertise shines through. Quick delivery and unbeatable prices. A must for any PC builder.</p>
            <img src="images/user-2.jpg" alt="users review: A girl reviewing headphone">
            <h3>Lebron James</h3>
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
        <div class="reviews-box">
            <p> Reliable components, fast shipping. If they expand their peripheral selection, it'd be perfect!</p>
            <img src="images/user-3.jpg" alt="users review: A girl reviewing headphone">
            <h3>Clara Kelen</h3>
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
            </div>
        </div>
    </div>
</section>
