 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<section class="category-container">
    <div class="container text-center">
        <div class="sidebar">
            <h4>Filter & Sort</h4>
            <form>
                <!-- Price Sorting -->
                <div class="form-group">
                    <label for="priceSort">Sort by Price</label>
                    <select class="form-control" id="priceSort" name="priceSort">
                        <option value="asc">Low to High</option>
                        <option value="desc">High to Low</option>
                    </select>
                </div>

                <!-- Category Filtering -->
                <div class="form-group">
                    <label for="categoryFilter">Filter by Category</label>
                    <select class="form-control" id="categoryFilter" name="categoryFilter">
                        <option value="all">All Categories</option>
                        <option value="core_components">Core Componets</option>
                        <option value="case">Cases</option>
                        <option value="computer_storage">Computer Storage</option>
                        <option value="PC_cooling">PC Cooling</option>
                    </select>
                </div>

                <!-- Product Search -->
                <div class="form-group">
                    <label for="productSearch">Search Products</label>
                    <input type="text" class="form-control" id="productSearch" name="productSearch" placeholder="Search...">
                </div>

                <button type="submit" class="btn btn-primary">Apply</button>
            </form>
        </div>
    </div>
        <!-- <div class="row">
          <div class="col-xl-3 col-lg-6 gy-4 gutters">
            <a href="/products"><div class="card" >
                <img src="../images/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Core Components</h5>
                    </div>
                </div></a>
            </div> 
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <a href="/products"><div class="card">
                <img src="../images/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cases</h5>
                    </div>
                </div></a>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <a href="/products"><div class="card">
                <img src="../images/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Computer Storage</h5>
                    </div>
                </div></a>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <a href="/products"><div class="card">
                <img src="../images/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PC cooling</h5>
                    </div>
                </div></a>
            </div>
        </div> -->
</section>
<h3 class="heading"><a href="/products">Core Components</a></h3>
<section class="products-container">
    <div class="container text-center">
        <div class="row">
          <div class="col-xl-3 col-lg-6 gy-4 gutters">
            <div class="card" >
                <a href="/product-detail"><img src="../images/1.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Intel Core i5-13600KF</h5>
                        <div class="price">266,38 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/3.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">AMD Ryzen 9 7900X </h5>
                        <div class="price">365,10 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
               <a href="/product-detail"> <img src="../images/4.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">AMD Ryzen 7 5800X3D </h5>
                        <div class="price">264,62 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/5.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Kingston Fury Beast Black 32GB </h5>
                        <div class="price">90,36 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</section>


<h3 class="heading"><a href="/products">Cases</a></h3>
<section class="products-container">
    <div class="container text-center">
        <div class="row">
          <div class="col-xl-3 col-lg-6 gy-4 gutters">
            <div class="card" >
                <a href="/product-detail"><img src="../images/9.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Sharkoon Elite Shark CA300H</h5>
                        <div class="price">142,02 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/10.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Sharkoon TG6 RGB</h5>
                        <div class="price">78,98 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
               <a href="/product-detail"> <img src="../images/11.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Cooler Master MasterBox </h5>
                        <div class="price">306,72 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/12.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title"> Silent Base 802 Window</h5>
                        <div class="price">145,74 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</section>

<h3 class="heading"><a href="/products">Computer Storage</a></h3>
<section class="products-container">
    <div class="container text-center">
        <div class="row">
          <div class="col-xl-3 col-lg-6 gy-4 gutters">
            <div class="card" >
                <a href="/product-detail"><img src="../images/17.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Seagate IronWolf</h5>
                        <div class="price">234,45 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/18.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Seagate Exos X18 </h5>
                        <div class="price">199,20 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
               <a href="/product-detail"> <img src="../images/19.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Seagate Exos 7E10 </h5>
                        <div class="price">116,40 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/20.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Seagate IronWolf Pro </h5>
                        <div class="price">200,84 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</section>

<h3 class="heading"><a href="/products">PC Cooling</a></h3>
<section class="products-container">
    <div class="container text-center">
        <div class="row">
          <div class="col-xl-3 col-lg-6 gy-4 gutters">
            <div class="card" >
                <a href="/product-detail"><img src="./images/32.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">be quiet! Dark Rock Pro 4</h5>
                        <div class="price">69,66 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/26.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Cooler Master MasterAir G200P</h5>
                        <div class="price">33,27 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
               <a href="/product-detail"> <img src="../images/27.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">ARCTIC Freezer A35 für Sockel</h5>
                        <div class="price">16,50 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 gy-4 gutters">
                <div class="card">
                <a href="/product-detail"><img src="../images/29.jpg" class="card-img-top" alt="product-image"></a>
                    <div class="product-card-body">
                        <h5 class="card-title">Corsair iCUE H100i Elite</h5>
                        <div class="price">109,16 €</div>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</section>