<nav>
    <a href="/" class="logo"><img alt="bespoke.it logo" src="../images/bespoke.it logo.png"></a>
    

    <div class="main">
        <form class="d-flex input-group-sm" role="search">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-sm btn-outline-primary m-auto">Search</button>
          </form>
        <a href="/cart" class="user-customer"><i class="fa-solid fa-cart-shopping"></i></a>
        <div class="user-customer"><i class="fa-solid fa-user" id="user-btn"></i></div>
    </div>
</nav>  

<div class="side-bar">
    <div id="close-side-bar" class="fa-solid fa-x">

    </div>

    <div class="user-side-bar">
        <img src="../images/side-bar-user1.jpg" alt="">
        <p>Customer</p>
        <h3>Phan Nguyen Viet Nhan</h3>
        <a href ="/myaccount">My Account</a>
        <a href="#">Log Out</a>
    </div>  

    <div class="side-bar-nav">
        <a href="/"><i class="fa-solid fa-angle-right"></i>Home</a>
        <a href="/products"><i class="fa-solid fa-angle-right"></i>Core Components</a>
        <a href="/products"><i class="fa-solid fa-angle-right"></i>Cases</a>
        <a href="/products"><i class="fa-solid fa-angle-right"></i>Computer Storage</a>
        <a href="/vendor"><i class="fa-solid fa-angle-right"></i>PC cooling</a>
        <a href="/cart"><i class="fa-solid fa-angle-right"></i>Cart</a>
    </div>
</div>