<section class="about" id="about">
    <h1 class="heading">About us</h1>
    <div class="row">

        <div class="image">
            <img src="/src/images/about-us-image.jpg" alt="female-gamer-playing-games">
        </div>

        <div class="about-us-content">
            <h2>What make our gaming gears special?</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, accusamus quam, consectetur laborum nobis quae sunt deserunt ipsam iste voluptas nisi dignissimos tenetur ab illo ea commodi nesciunt impedit labore.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, accusamus quam, consectetur laborum nobis quae sunt deserunt ipsam iste voluptas nisi dignissimos tenetur ab illo ea commodi nesciunt impedit labore.</p>
        </div>  
    </div>
</section>