<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/style.css">
    <!--This import icons for later usage-->
    <script src="https://kit.fontawesome.com/d3a524326f.js" crossorigin="anonymous"></script>
    <!--Imported font family from google-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    </style>
    <!--Js link-->
    <script type="text/javascript" src="js/script.js"></script>
    <title>Bespoke.IT</title>
</head>