<div class="main-content">
    <div class="left">
        <img src="/images/story.jpg" alt="Our Store Image">
    </div>
    <div class="right">
        <h1>Our Story</h1>
        <p>In the bustling city, 'Bespoke IT' was a tech haven. Founded by dedicated tech enthusiasts, it was the go-to place for cutting-edge computer components. More than a shop, it was a community where customers became tech-savvy, empowered to harness the power of technology. With expert guidance, workshops, and top-quality products, 'Bespoke IT' was the destination for those seeking the best in tech.</p>
    </div>
</div>
<div class="team-content">
    <div class="team-member">
        <img src="/images/vietnhan.png" alt="Team Member 1">
        <h2>Nhan Phan</h2>
    </div>
    <div class="team-member">
        <img src="/images/thanhmai.jpg" alt="Team Member 2">
        <h2>Mai Pham</h2>
    </div>
    <div class="team-member">
        <img src="/images/andy.jpg" alt="Team Member 3">
        <h2>Andrew</h2>
    </div>
    <div class="team-member">
        <img src="/images/haial.jpg" alt="Team Member 4">
        <h2>Haial</h2>
    </div>
    <div class="team-member">
        <img src="/images/nhatminh.jpg" alt="Team Member 5">
        <h2>Neko</h2>
    </div>
</div>