<div class="regis-wrapper">
    <div class="form-box register">
        <h2>Customer Registration</h2>
        <form action="/register" method="POST" enctype="multipart/form-data">
            <!-- ... other input fields ... -->
            <input type="text" name="fullName" required>
            <label>Your Full Name</label>
            <!-- ... -->
            <input type="text" name="username" required id="username">
            <label>Username</label>
            <!-- ... -->
            <input type="password" name="password" required id="password">
            <label>Password</label>
            <!-- ... -->
            <input type="password" name="confirmpassword" required id="confirmpassword">
            <label>Confirm Your Password</label>
            <!-- ... -->
            <input type="text" name="address" required>
            <label>Your address</label>
            <!-- ... -->
            <input type="file" id="upload_file" name="profilePicture">
            <!-- ... -->
            <button type="submit" class="btn">Register</button>
        </form>        
    </div>
</div>