<div class="user-wrapper">
    <div class="form-box login">
        <h2>Identify Yourself</h2>
        <div class="form">
            <a href="/login/register/customer_registration_form"><button class="btn">Customer</button></a>
            <a href="/login/register/vendor_registration_form"><button class="btn">Vendor</button></a>
            <a href="/login/register/shipper_registration_form"><button class="btn">Shipper</button></a>
            <div class="login-register">
                <p>Already have an account? <a href="/login" class="register-link">Login</a></p>
            </div>
        </div>
    </div>
</div>