 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<div class="user-wrapper">
    <div class="form-box login">
        <h2>Identify Yourself</h2>
        <div class="form">
            <a href="/login/register/customer-registration-form"><button class="btn">Customer</button></a>
            <a href="/login/register/vendor-registration-form"><button class="btn">Vendor</button></a>
            <a href="/login/register/shipper-registration-form"><button class="btn">Shipper</button></a>
            <div class="login-register">
                <p>Already have an account? <a href="/login" class="register-link">Login</a></p>
            </div>
        </div>
    </div>
</div>