 <!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Group 6
  ID: Pham Thanh Mai (s3978365)
       Nguyen Ngoc Hai (s3978281)
       Phan Nguyen Viet Nhan (s3978145)
       Tran Nhat Minh (s3977767)
       Nguyen Duy Anh (s4022628)
  Acknowledgement: Bootstrap, FontAwesome , Ion-icon, W3School, Freepik -->
<!-- views/partials/product-detail/product-detail-body.ejs -->
<div class="container text-left" id="products-container">
    <div class="row">
      <div class="col-xl-6 col-lg-12 gy-4 gutters">
        <div class="card" >
            <img src="../images/1.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 gy-4 gutters" id="product-side">
            <h2 class="product-detail-title">Intel Core i5-13600KF </h2>
            <p class="publisher-title">Publisher:<span>Lebron James</span></p>
            <h3 class="product-price">266,38 €</h3>
            <div class="product-function">
                <input type="number" id="quantity" name="quantity" value="1" min="1">
                <a class="btn btn-primary" id="product-btn" href="#" role="button"><i class="fa-solid fa-cart-arrow-down"></i>  Into Cart</a>
            </div>
            <h3>Product Description</h3>
            <p>Intel Core i5-13600KF Boxed: A high-performance processor with 14 cores, featuring a combination of 6 powerful P-cores and 8 efficient E-cores for impressive computing capabilities.</p>
        </div>
    </div>
</div>
